[submodule "AsurDev"]
	path = AsurDev
	url = https://github.com/mahaasur13-sys/AsurDev.git
	branch = master

[submodule "home-cluster-iac"]
	path = home-cluster-iac
	url = https://github.com/mahaasur13-sys/home-cluster-iac.git
	branch = master

[submodule "roma-execution-bridge"]
	path = roma-execution-bridge
	url = https://github.com/mahaasur13-sys/roma-execution-bridge.git
	branch = master

[submodule "astrofin-sentinel-v5"]
	path = astrofin-sentinel-v5
	url = https://github.com/mahaasur13-sys/astrofin-sentinel-v5.git
	branch = main

[submodule "atom-federation-os"]
	path = atom-federation-os
	url = https://github.com/mahaasur13-sys/atom-federation-os.git
	branch = master

[submodule "integrations/gitagent"]
	path = integrations/gitagent
	url = https://github.com/mahaasur13-sys/integrations-gitagent.git

